@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fahkwang|Lustria|Maven+Pro|Montserrat|Questrial|Quicksand|Roboto|Sarabun|Source+Sans+Pro|Tajawal|Varela+Round|Volkhov');

$primary-graphite: #252525;
$primary-blue: #00A1FF;
$primary-orange:#FF7800;
$primary-green: #67DD00;
$primary-purple: #4600CD;

html {
  max-width: 100vw;
  height: 100vh;
}
body {
  font-family:
    /* roboto body, Montserrat/Quicksand headings, Sarabun sub-headings, Volkhov titles, possible use of Alfa Slab on headings. Keep Lustria and Maven Pro. */
    Quicksand,
    "Segoe UI",
    Roboto,
    Montserrat,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #252525;
  /* min-height: 100vh; */
  color: #252525;
}

.header {
  /* position: fixed; */
  /* top: 0; */
  /* width: 100vw; */
  height: 8vh;
}

h1 {
  font-family:
    /* "Lustria",
    "Fahkwang",
    "Segoe UI", */
    /* "Sarabun",
    "Maven Pro",
    "Lustria",
    "Alfa Slab One", */
    /* "Volkhov", */
    "Montserrat",
    "Source Sans Pro";
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Montserrat",
    "Lustria", 
    "Sarabun";
  line-height: 1em;
  font-weight: 300;
}

p {
  font-family: "Segoe UI", "Quicksand";
}

.bottom-line {
  font-weight: 700;
}

.layout {
  /* max-width: 760px; */
  /* margin: 0 auto; */
  /* background: white;  */
  background: none;
  color: white;
  padding: 20vh 5vw 0 28vw;
  overflow-wrap: break-word; 
  /* height: 92vh;  */
  min-height: 72vh;
}