@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fahkwang|Lustria|Maven+Pro|Montserrat|Questrial|Quicksand|Roboto|Sarabun|Source+Sans+Pro|Tajawal|Varela+Round|Volkhov');

$primary-graphite: #252525;
$primary-blue: #00A1FF;
$primary-orange:#FF7800;
$primary-green: #67DD00;
$primary-purple: #4600CD;

body {
  font-family:
    /* roboto body, Montserrat/Quicksand headings, Sarabun sub-headings, Volkhov titles, possible use of Alfa Slab on headings. Keep Lustria and Maven Pro. */
    Quicksand,
    "Segoe UI",
    Roboto,
    Montserrat,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #252525;
  /* min-height: 100vh; */
  color: #252525;
}

#app {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-areas: "site-header" "site-container";
}
#header {
  grid-area: site-header;
}
#site-logo {
  grid-area: logo;
}
#topnav {
  grid-area: topnav;
}
.site-container {
  grid-area: site-container;
  display: grid;
  grid-template-columns: 1fr 2fr 2em 8fr;
  grid-template-areas: ". . . main-content";
}

h1 {
  font-family:
    /* "Lustria",
    "Fahkwang",
    "Segoe UI", */
    /* "Sarabun",
    "Maven Pro",
    "Lustria",
    "Alfa Slab One", */
    /* "Volkhov", */
    "Montserrat",
    "Source Sans Pro";
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Montserrat",
    "Lustria", 
    "Sarabun";
  line-height: 1em;
  font-weight: 300;
}

p {
  font-family: "Segoe UI", "Quicksand";
}

.bottom-line {
  font-weight: 700;
}

.layout {
  /* max-width: 760px; */
  /* margin: 0 auto; */
  /* background: white;  */
  background: none;
  color: white;
  padding: 20vh 5vw 0 28vw;
  overflow-wrap: break-word; 
  /* height: 92vh;  */
  min-height: 72vh;
}

// ********************************************************************
// Sassy link underlines from https://codepen.io/jimmynotjim/pen/EabQjV
//

@mixin text-underline-crop($background) {
  text-shadow:  .03em 0 $background, 
                -.03em 0 $background,
                0 .03em $background,
                0 -.03em $background,
                .06em 0 $background,
                -.06em 0 $background,
                .09em 0 $background,
                -.09em 0 $background,
                .12em 0 $background,
                -.12em 0 $background,
                .15em 0 $background,
                -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 95%;
}

@mixin text-selection($selection) {
  &::selection {
    @include text-underline-crop($selection);
    
    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);
    
    background: $selection;
  }
}

@mixin link-underline($background, $text, $selection){
  @include text-underline-crop($background);
  @include text-underline($background, $text);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  *,
  *:after,
  &:after,
  *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

$color-text:        white;
$color-background:  rgba(0,0,0,0);
$color-selection:   #04c745;

// body {
//   font-family: freight-text-pro, georgia, serif;
//   font-size: 18px;
//   line-height: 1.4;
//   margin: 20px;
// }

pre {
  background-color: #eee;
  font-size: 16px;
  padding: 20px;  
}

// #homepage-layout .page-title {
//   @include link-underline($color-background, $color-text, $color-selection);
// }

// ********************************************************************